.pagina-principal
    background-color #e47422
    height 100vh
    .titulo, .encabezado
        color white
        font-size 50px
        text-align  center
        border-bottom none
        padding-top 80px
    .titulo
        font-family 'Itim'
    .seleccion
        width 500px
        margin 0 auto
        label
            color white
        .secundario
            margin-top 10px
            color white
            font-size 14px
            a
                color #b9e4ff
