.pagina-principal
    background-color #2196F3
    height 100vh
    .titulo, .encabezado
        color white
        font-size 50px
        text-align  center
        border-bottom none
        padding-top 80px
    .titulo
        font-family 'Roboto'
    .seleccion
        width 500px
        margin 0 auto
        label
            color white
        input
            color white
            &::-webkit-input-placeholder /* Chrome/Opera/Safari */
              color: #eee;

            &::-moz-placeholder /* Firefox 19+ */
              color: #eee;

            &:-ms-input-placeholder  /* IE 10+ */
              color: #eee;

            &:-moz-placeholder /* Firefox 18- */
              color: #eee;

        .secundario
            margin-top 10px
            color white
            font-size 14px
            a
                color #DCEDC8
        .exito
            h2,h5
                color white
                font-size 30px
                text-align: center
