.sidebar
    width 200px
    background #4d4f57
    height 100vh
    position fixed
    .title
        color #ede2e2
        padding 20px
        font-family helvetica
        margin-top 0
        background #bb1966
        text-align center
        height 55px
        h4
            margin 0
            font-weight 600
    .water-label
        text-align center
        padding 10px 0px
        color #8a8a96
        text-transform uppercase
        font-size 12px
        border-bottom 1px solid #a09daa
