bg-color = #707070
brd-color = #666
.sidebar
    display block
    width 200px
    height 100%
    position fixed
    top 54px
    left 0
    bottom 0
    background bg-color
    border-right 1px solid brd-color
    z-index 1
