<div class="row margin-top margin-bottom animated bounceInDown">
    <div class="col-md-12">
        <widget>
            <div class="titulo">
                {{vm.titulo}}
                <div class="tools">
                    <button class="btn btn-success btn-circle " ng-click="vm.reload()"><i class="fa fa-refresh"></i> Recargar</button>
                    <button class="btn btn-primary btn-circle " ui-sref="dashboard.reserva"><i class="fa fa-plus"></i> Añadir cita</button>
                </div>
            </div>
            <div ui-calendar="vm.uiConfig.calendar" ng-model="vm.citas"></div>
        </widget>
    </div>
</div>
