<nav-menu>
    <nav-menu-item icon="fa-power-off" ng-click="vm.logout()"></nav-menu-item>
    <nav-menu-item icon="fa-gear"></nav-menu-item>
    <nav-menu-item icon="fa-envelope"></nav-menu-item>
</nav-menu>
<sidebar>
    <sidebar-item name="Vista General" icon="fa-desktop" state="dashboard.general"></sidebar-item>
    <sidebar-item name="Citas" icon="fa-calendar" state="dashboard.citas"></sidebar-item>
    <sidebar-item name="Pacientes" icon="fa-user" state="dashboard.pacientes"></sidebar-item>
    <!--<sidebar-item name="Especialidades" icon="fa-certificate" state="dashboard.especialidad"></sidebar-item>-->
</sidebar>
<div id="wrapper-container">
    <div id="wrapper" ui-view></div>
</div>
