<div class="row margin-top margin-bottom animated bounceInDown">
    <div class="col-md-12">
        <widget>
            <div class="titulo">
                {{vm.titulo}}
            </div>
            <table class="table table-striped table-bordered margin-top">
                <thead>
                    <tr>
                        <th>Numero de cita</th>
                        <th>Asunto</th>
                        <th>Doctor</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cita in vm.citas">
                        <td>{{cita.id}}</td>
                        <td>{{cita.comentario}}</td>
                        <td>{{cita.doctor.nombre}}</td>
                        <td>{{cita.fecha}}</td>
                    </tr>
                </tbody>
            </table>
        </widget>
    </div>
</div>
