<div class="row margin-top">
  <div class="col-md-6">
    <widget>
      Hola we
    </widget>
  </div>
  <div class="col-md-6">
    <widget>
      Soy un col md 6
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-12">
    <widget>
      Hello!
    </widget>
  </div>
</div>
