<div class="row margin-top">
    <div class="col-md-12">
        <widget>
            <div class="row">
                <div class="instrucciones col-md-2">Acciones</div>
                <div class="col-md-4">
                    <button ui-sref="dashboard.paciente-nuevo" type="button" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Agregar</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success btn-block" ng-click="vm.check()"><i class="fa fa-refresh"></i> Actualizar</button>
                </div>
            </div>
        </widget>
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-12">
        <widget>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th>Direccion</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="paciente in vm.pacientes">
                        <td>{{paciente.id}}</td>
                        <td>{{paciente.nombre}}</td>
                        <td>{{paciente.apellido_paterno}}</td>
                        <td>{{paciente.apellido_materno}}</td>
                        <td>{{paciente.fecha_nacimiento | age}}</td>
                        <td>{{paciente.sexo | sex}}</td>
                        <td>{{paciente.calle + " " + paciente.colonia + ", " +paciente.municipio}}</td>
                        <td>{{paciente.telefono}}</td>
                    </tr>
                </tbody>
            </table>
        </widget>
    </div>
</div>
